.App {
  min-height: 100vh;
  text-align: center;
  background-image: url("orion-nebula-11107.jpg");
  font-family: 'Space Mono', monospace;

    

  /* display: flex; */
}

.store-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* height: 50vh; */
  /* max-width: 25vw; */
}